{# Load the tag library #}
{% load bootstrap3 %}
{# Load Static images and JS #}
{% load static %}
{# Load CSS and Javascript #}
{% bootstrap_css %}
{% boostrap_javascript %}

<!DOCTYPE html>
<html>
<head lang="en-US">
	<meta charset="utf-8">
	<title> dJams </title>
	<!-- link rel="stylesheet" href="cssfile.css" />
		 link rel="stylesheet" href="somemorecss.css" /> 
		 <script src "url.js"></script>
		 <script type = "text/javascript" src="source.js"></script>-->
</head>

	<body>
		{ % block content %}
		{ % endblock %}
		<div class = 'footer'>
			<div class = 'text-center'>
				<a href="{ % url 'login' %} "> Home</a>
				<a href="{ % url 'registration' %} "> Registration </a>
				<a href="{ % url 'settings' %} "> Settings </a>
				

