{% extends 'layout.html' %}

{% block body %}

<h1><center>About Us</h1>
<p><center>dJams is a web-based application that automatically creates playlists through Spotify based on the users' preferences and plays music according to the time of day and the current weather based off geographical location. The user will take a short survey of questions that are gathered into a database and best matched to the style of music the users' answers correspond to. The user will also be able to manually change and add songs to the playlists created and the application will add songs like the user inputted ones.</p>
<p> Creators:
  <br/>
  James Parsons
  <br/>
  Daniel Zidelis
</p>
{% endblock %}
