<style>

body{
  background: #E7FBFB;
}
.logo{
  width:25%;

  display: block;
      margin-left: auto;
      margin-right: auto;

}

.footer{
position: fixed;
   left: -50px;
   bottom: 0;
   width: 100%;
   background-color: inherit;
   color: white;
   text-align: center;
}
</style>



<div class="jumbotron text-center">
  <h1><strong><center><font size="20">About dJams</strong> </h1>
    <img class ='logo' src='images\djams_image.png' height="100" width="200">
</div>

<div class="text-center">
  <div class="lead">
    <font size="6">
      <br>

      <center>
    dJams is a web-based application that automatically creates playlists through Spotify based on the users' preferences and plays music according to the time of day and the current weather based off geographical location. The user will take a short survey of questions that are gathered into a database and best matched to the style of music the users' answers correspond to. The user will also be able to manually change and add songs to the playlists created and the application will add songs like the user inputted ones.
  </center>


  <center>
<font size="5">
	<br/><strong>Creators:</strong>
  <br/>
	  <br/> James Parsons
    <br/>Daniel Zidelis
  </center>

  </div>
</div>


<div class="footer">
   <div class="text-center">
     <a href="mainpage.html">Home</a>
     |
     <a href="aboutus.html">About dJams</a>
     |
     <a href="logout.html">Log Out</a>
   </div>
 </div>
