.column {
    float: left;
    padding: 8px;
    height: 750px;
}
.left {
	width: 25%;
}
.right {
	width: 25%;

}
.middle {
	width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo{
  position:relative;
  bottom:200px;
}

body {
    background-image: url("/images/hmm.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
	background-size: 100%;
}

.footer{
position: fixed;
   left: -50px;
   bottom: 0;
   width: 100%;
   background-color: inherit;
   color: white;
   text-align: center;
}
