.column {
    float: left;
    padding: 8px;
    height: 750px;
}
.left {
	width: 20%;
}
.right {
	width: 20%;

}
.middle {
	width: 40%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo{
  position:relative;
  bottom:200px;
}

body {
    background-image: url("/images/hmm.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
	background-size: 150%;
}

.footer{
position: absolute;
	right:-50px;
   bottom: -275px;
   width: 100%;
   background-color: inherit;
   color: white;
   text-align: center;
}
