<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel ="stylesheet" type="text/css" href="mainpage.css">
</head>
<body>
<!-- figure out how to input these as actual location instead of hardcoding  -->
<h2>
  <center>
      <p> Good afternoon, USER! </p>
      <p> The time is currently: TIME
      <p> You are currently located at: (latitude, longitude), (CITY, STATE)
      <!-- this value will be given by the API" -->
</h2>

<div class="row">


  <div class="column ">
  <h3><center>Calendar for the current month:</h3>
	<a> <center></a>
  <iframe src="https://calendar.google.com/calendar/embed?src=jimmyp1234123%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="500" height="380" frameborder="0" scrolling="no"></iframe>
  </div>


    <div class="column middle">
      <h2><center>Your personalized Playlist</h2>
      <p></p>
      <center>
    <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DXa1rZf8gLhyz" width="300" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
    <div id="logo">
      <center>
    <img src="images/djams_image.png" alt="logo" id="logo" />
     </div>
    </div>




<div class="column">

<div id= "openweathermap-widget-5" ></div>
  <a class="weatherwidget-io" href="https://forecast7.com/en/42d36n71d06/boston/?unit=us" data-label_1="BOSTON" data-label_2="WEATHER" data-theme="original" ></a>
</div>


</body>



<script src="mainpage.js"></script>
<script src="mainpage2.js"></script>



</html>
