<html>

<head><title> Questionnaire </title>

<style>
body {
	position:absolute;
	background-size:150%;
    background-image: url("images/hmm9.jpg");
    background-repeat: no-repeat;
}
</style>
</head>

<body>

	<form action = "index.php" name="my form" method="POST">
	<h1> Hello! This is the official dJams survey to determine your personalized playlists<br/>
		Below are a list of questions that must be answered in order to create the playlists.
		</h1>

	
	<table>
	<tr>
	<td>What is your Spotify username?</td>
	<td><input type = "text" name = "username"/></td>
	</tr>
	</table>
	<h4>Directions on how to get your Spotify username:</h4>	
	<h5> www.Spotify.com -> Profile -> Account -> Account Overview -> Username: </h5>
<br/>
	
	The type(s) of music I like are: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
	
	<br/>
	When I'm happy, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
	
		<br/>
	When I'm sad, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
	
		<br/>
	When the weather is sunny, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>

	
		<br/>
	When the weather is rainy, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
<br/>

	<br/>
	When the weather is cloudy, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
	
	
	
		<br/>
	When I am working out, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
	
		<br/>
	When I'm working, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>
	
	
		<br/>
	When I'm relaxing, I typically listen to: (Click all that apply)<br/>
	<input type="checkbox" name="Rock" value="Rock">Rock<br/>
	<input type="checkbox" name="Jazz" value="Jazz">Jazz<br/>
	<input type="checkbox" name="Country" value="Country">Country<br/>
	<input type="checkbox" name="Pop" value="Pop">Pop<br/>
	<input type="checkbox" name="Electronic" value="Electronic">Electronic<br/>

		<br/>
<a href="testing.html">
   <input type="button" value="Submit Survey" />
</a>

	</form>
	
</body>
</html>
