<!DOCTYPE html>
<html>
    <head>
        <title>dJams Survey</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://surveyjs.azureedge.net/1.0.36/survey.jquery.js"></script>
        <link href="https://surveyjs.azureedge.net/1.0.36/survey.css" type="text/css" rel="stylesheet"/>

    </head>
    <body>

		 <!-- intro -->
			<h1><center> Hello! This is the official dJams survey to determine your personalized playlists<br/>
				Below are a list of questions that must be answered in order to create the playlists.
			</h1>

<!-- whole survey -->
        <div id="surveyElement"></div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>




<script type="text/javascript" src="./testsurvey.js"></script>


<p><center><h2> Once that is completed, Click here to be redirected to the login page or to review your answers from the survey! </h2></p>
<center><button onclick="window.location.href='redirection.html'"> Click here for Login Page</button>


<button onclick="showSurveyResults()">Show Results</button>


<div id="surveyResult">
</div>

<script>
function showSurveyResults() {
    var results = document.getElementById("surveyResult");
    if (results.style.display === "none") {
        results.style.display = "block";
    } else {
        results.style.display = "none";
    }
}
</script>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p><center><h2> Need to retake the survey? Click here:</p>
<p><button type="button" onClick="window.location.reload();">Retake Survey</button></p>


</body>
</html>
